

* {
	padding: 0;
	margin: 0;
}

html, body {
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	font-family: 'Ubuntu', sans-serif;
	font-size: 96%;
}

h1,h2,h3,h4,h5{
    font-family: 'Ubuntu', sans-serif !important;
    color:#00C99F !important;
    font-weight: 700 !important;
}


a {
	text-decoration: none;
	color:#1565C0;
}

a:hover {
	transition: 0.5;
	color: #4888F8;
}

img, picture, video, embed {  max-width: 100%; }

textarea { overflow: auto; }



.txt-center { text-align: center; }
.txt-right  { text-align: right; }
.txt-left   { text-align: left; }

.container {
   	max-width: 1128px;
	margin: 0 auto;
}

.center {
	margin-left: auto;
	margin-right: auto;
}


.logo{
	text-align: center;
	padding-top: 50px;
}


.logo .btn{
    width: 100%;
    height: auto;
}



.btn{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;

}

.btn-default,.btn-default:hover,.btn-default:active{
    background: #BDBDBD !important;
    border-color:#BDBDBD !important;
    color:#fff;
}

.btn-primary,.btn-primary:hover,.btn-primary:active{
    background: #00c99f !important;
    border-color:#00c99f !important;
    color:#fff;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #00c99f !important;
    border-color: #00c99f !important;
    cursor: default;
}



label{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color:#666;
}

.control-label{
    text-align: right;
}

.modal-body .form-group{
    margin-bottom: 02px;
}


.masterpass{
   position: absolute;
   top: 130px;
   left:0px;
   width: 100%;
   font-family: 'Ubuntu', sans-serif;
   font-weight: 400;
   text-align: center;
   color:#666;
}
.masterpass a{
    text-decoration: none;
}
.masterpass img{
    width:120px;
    height: auto;
    margin-top: 6px;
}



p{
	font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color:#666;
}





nav{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 55px;
	background: #efefef;
	border-top: 1px solid #ccc;
	z-index: 9999;
-webkit-box-shadow: 0px 12px 30px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 12px 30px 0px rgba(0,0,0,0.75);
box-shadow: 0px 12px 30px 0px rgba(0,0,0,0.75);
}

nav ul li{
	display: inline-table;
	text-align: center;
	padding-top: 15px;
	width: 24%;
	height: 55px !important;
	font-size: 1.2em;
}

nav ul li a{
	color:#555;
}
nav ul li.active{
	background: #e6e6e6;
}

.topo{
	position: relative;
	background: #00C99F;
	top:0;
	width: 100%;
	height: 30px;
	border-bottom:1px solid #ccc;
	-webkit-box-shadow: 0px -6px 30px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -6px 30px 0px rgba(0,0,0,0.75);
	box-shadow: 0px -6px 30px 0px rgba(0,0,0,0.75);
	text-align: center;
	font-size: 1.2em;
	padding-top: 2px;
	color:#fff;
}

.dashboard{
	padding-top: 50px;
}

.dashboard h2{
	margin-bottom: 90px;
}

.dashboard .btn-lg{
	width: 100%;
	margin-bottom: 30px;
}



/* CARTAO DE CREDITO */
/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}
/* CARTAO DE CREDITO */

input.buscaDataTable{
	width: 100%;
}

#dataSelect_length{
	display: none;
}
#dataSelect_info{
	display: none;
}

#dataSelect_filter{
	display: none;
}
#dataSelect_paginate{
	width: 500px !important;
	float: none !important;
	margin-left: -42px;
}

#dataSelect_processing{
	padding: 15px;
}